<article class="container-fluid">
  <div class="row article-header">
    <div class="col-md-4 left-side custom-border"><h3 class="article-section">NOTIZIE IN PRIMO PIANO</h3></div>
  	<div class="col-md-8 right-side custom-border">
      <div class="inclined-dotted-box">
        <img src="images/inclined-dotted.svg">
      </div>
  	</div>
  </div>
  <div class="row article-content">
    <div class="col-md-8 news-big-preview left-side">
      {% include 'LLPPIndexBundle:Home:Section/NewsPrimoPiano/big.html.twig' %}
    </div>
    <div class="col-md-4 right-side">
      {% include 'LLPPIndexBundle:Home:Section/NewsPrimoPiano/banner.html.twig' %}
	  {% include 'LLPPIndexBundle:Home:Section/NewsPrimoPiano/small.html.twig' %}
    </div>
  </div>
  <div class="row article-content bottom">
    {% include 'LLPPIndexBundle:Home:Section/NewsPrimoPiano/bottom-smalls.html.twig' %}
  </div>
</article>