<div class="news-top-bar row">
  <span class="news-category col-md-6">PREVIDENZA SOCIALE</span>
  <span class="news-comments col-md-3"><i class="fa fa-comments-o head-color"></i> commenti (11)</span>
  <span class="news-social col-md-3">
    <i class="fa fa-share-alt"></i>
    <i class="fa fa-facebook-square"></i>
    <i class="fa fa-twitter-square"></i>
    <i class="fa fa-google-plus-square"></i>
    <i class="fa fa-linkedin-square"></i>
  </span>
</div>
<div class="news-image row">
  <img src="http://placehold.it/627x300/aaccdd/000&text=news+preview+627x300" alt="Top Banner"></img>
  <h1 class="news-title">In arrivo le elezioni per il rinnovo del Comitato Nazionale dei Delegati</h1>
</div>
<div class="news-content-preview row">
  <p>Dopo le travagliate vicende di dicembre 2014 che hanno visto coinvolto l'Arch. Giuseppe Santoro, attuale vicepresidente Inarcassa e Presidente di Arpinge (società per azioni creata da Inarcassa, CIPAG ed Eppi), il quale ha anticipato le date per le prossime elezioni (leggi articolo), <strong>[...]</strong></p>
</div>