<div class="col-md-4 article-content bottom-smalls-lateral">
  {% include 'LLPPIndexBundle:Home:Section/NewsPrimoPiano/small.html.twig' %}
  {% include 'LLPPIndexBundle:Home:Section/NewsPrimoPiano/small.html.twig' %}
</div>
<div class="col-md-4 article-content bottom-smalls-central">
  {% include 'LLPPIndexBundle:Home:Section/NewsPrimoPiano/banner.html.twig' %}
</div>
<div class="col-md-4 article-content bottom-smalls-lateral">
  {% include 'LLPPIndexBundle:Home:Section/NewsPrimoPiano/small.html.twig' %}
  {% include 'LLPPIndexBundle:Home:Section/NewsPrimoPiano/small.html.twig' %}
</div>
